<header>

    <div id="menu" class="fas fa-bars"></div>

    <a href="#" class="logo">
    <i class="fas fa-user-graduate"></i></a>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#course">course</a></li>
            <!-- <li><a href="#teacher">teacher</a></li>
            <li><a href="#contact">contact</a></li> -->
        </ul>
    </nav>

    <div id="login" class="fas fa-user-circle">
     <a href="/login">login</a>  
    </div>

</header>